# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# JavaScript
node_modules/
npm-debug.log
build/
.DS_Store

# IDE
.vscode/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
